.page-container {
  margin: 20px;
}

body {
  background-color: cornsilk;
}

p {
  text-align: left;
  font-weight: bold;
}
.image-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 70px;
  gap: 20px;
}

.image-container img {
  width: 100%;
}

@media (max-width: 768px) {
  .image-container {
    flex-direction: column;
  }
}

.navbar {
  background-color: lightgreen;
}

.logoTitle {
  margin-left: 10px;
}
