p {
  font-size: x-large;
}
body {
  background-color: lightcyan;
}
img {
  height: 200px;
  width: 200;
}
p {
  text-align: center;
}
.image-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 70px;
  gap: 20px;
}

.image-container img {
  width: 100%;
}

@media (max-width: 768px) {
  .image-container {
    flex-direction: column;
  }
}

.navbar {
  background-color: lightgreen;
}
