body {
  background-color: cornsilk;
}

.navbar {
  background-color: lightgreen;
}

.act {
  margin: 30px;
  font-weight: bold;
}

.h1 {
  font-weight: bolder;
  margin-left: 20px;
}
.class {
  gap: 50px;
}

.logoTitle {
  margin-left: 10px;
}
